body{
    background: rgba(73, 168, 246, 0.466);

}

input{
    width: 50vw;
    height: 3rem;
    margin-top: 20;
    font-size: 1.8rem;
    border:none;
    border-radius: 2rem;
    padding-left: 2rem;
    border-bottom: 1px solid #eee;
}
input:focus{
    outline:none
    
    
}
h1{
    font-family: "Helvetica";
    font-weight: 100;
    color : #666;
    font-size : 4rem;
    margin: 40 auto 20 auto;
}


.container{
    text-align: center;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    
}
.parent{
    display: flex;
    flex-flow: column;
    position:relative;
    margin-bottom: 1rem;
    padding-bottom: 1rem;
}

.suggestions{
    
    width:50vw;
    border-radius: 1rem ;
    margin:auto;
    z-index:9;
    display: none;
    
}
.suggestions > div{
    
    position:relative;
    text-align: left;
    padding-left: 2rem;
    background :#fff;
    height:2.5rem;
    font-size:1.4rem;
    border-radius: 1rem;
    z-index:9;
    color:#666;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}


.inner-text{
    margin:0;
    position:absolute;
    top:50%;
    transform: translateY(-50%);

}
div .search{
    position:absolute;
    top: 0;
    left:0;

}
.disp{
    color:white;
    font-family: sans-serif;
    font-weight: bold;
    max-width:90vw;
    margin-top:1rem;
    margin-bottom: 2rem;
    background: rgba(73, 169, 246, 0.801);
    border-radius: 1rem;
    position:absolute;
    top: 0;
    left:50%;
    transform: translate(-50%);
    z-index: -1;
    display:grid;
    grid-template-columns: repeat(28,1fr);
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:    "n n n n n n n n n n w w w w w t t t t t t o o o o o o o"          
                            "g g g g g g g g g g g g g g g g g g g g g g g g g g g g" 
                            "a a a a b b b b c c c c d d d d e e e e f f f f h h h h" ;
    
}
#name{
    grid-area:n;
    font-size: 2.5em;
    text-align: left;
    font-family: Arial;
    margin-top:1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right:1rem;
    border-right: 1px solid #555;
    
}
#country{
    font-size: 1.5rem;
}
#weather{
    grid-area:w ;
    padding-left:1rem;
    padding-right: 1rem;
    border-right: 1px solid #555;
    margin-top:1rem;
    margin-bottom: 1rem;
}
#Temperature{
    grid-area:t ;
    padding-top:1rem;
    padding-left:1rem;
    padding-right: 1rem;
    border-right: 1px solid #555;
    margin-top:1rem;
    margin-bottom: 1rem;
}
#others{
    grid-area:o ;
    padding-top: 1rem;
    padding-left:1rem;
    padding-right: 2rem;
    margin-top:1rem;
    margin-bottom: 1rem;
    
}
#hourly-graph{
    grid-area: g;
    background: rgba(36, 119, 187, 0.849);
    border-radius: 2rem;
}
#future-forecast{
    grid-area: f;
}
#main{
    font-size: 3rem;
    margin-top: 0.5rem;
    margin-bottom: 0;
}
#minmax{
    margin-top: 2.25rem;
}
#day1{
    grid-area:a;
}
#day2{
    grid-area:b;
}
#day3{
    grid-area:c;
}
#day4{
    grid-area:d;
}
#day5{
    grid-area:e;
}
#day6{
    grid-area:f;
    border-top: 1px solid #888;
}
#day7{
    grid-area:h;
}
#time-updated{
    font-size:0.8rem;
}
